#side-bottom {
    .container {
        .row {
         
            footer {
                background-color: #232222;
                color: #fff;
                padding-left: 32px;
                padding-top: 55px;


                .footer-aside {

                    .footer-call {
                        h4 {}

                        span {}

                        span {}
                    }

                    .footer-social {
                        i {}
                    }
                }
            }
        }
    }
}